.wrapper {
  min-height: rem(400px);
  box-sizing: border-box;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border-radius: var(--mantine-radius-md);
  padding: calc(var(--mantine-spacing-xl) * 2.5);
  margin: 30px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  line-height: 1;
}

.description {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  max-width: rem(300px);
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.form {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
}

.input {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
}

.inputLabel {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-1));
}

.control {
  background-color: var(--mantine-color-blue-6);
  color: var(--mantine-color-white);
}
