.footer {
  margin-top: rem(120);
  padding-top: var(--mantine-spacing-xl) * 2;
  padding-bottom: var(--mantine-spacing-xl) * 2;
  background-color: var(--mantine-color-gray-0);
  border-top: rem(1) solid var(--mantine-color-gray-2);
}

.logo {
  max-width: rem(200);

  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description {
  margin-top: rem(5);

  @media (max-width: $mantine-breakpoint-sm) {
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;
  gap: rem(50);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
    gap: rem(30);
  }
}

.wrapper {
  width: rem(160);

  @media (max-width: $mantine-breakpoint-sm) {
    width: rem(140);
  }
}

.link {
  display: block;
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-font-size-sm);
  padding-top: rem(3);
  padding-bottom: rem(3);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  font-family: var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-xs);
  color: var(--mantine-color-black);
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1) solid var(--mantine-color-gray-2);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.afterFooterGroup {
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.social {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}
